---
version: 2.1

orbs:
  terraform: twdps/terraform@0.6.0
  op: twdps/onepassword@1.0.0
  do: twdps/pipeline-events@0.1.0

# ==== global pipeline parameters

parameters:
  context:
    description: circleci context for all jobs
    type: string
    default: twdps-core-labs-team
  terraform-version:
    description: terraform version for all jobs
    type: string
    default: "1.2.2"
  executor-image:
    description: use this image for local job definitions
    type: string
    default: twdps/circleci-infra-aws:alpine-1.8.0

# ==== triggers

# git push: deploy sandbox
on-push-main: &on-push-main
  branches:
    only: /main/
  tags:
    ignore: /.*/

# git tag: release 
on-tag-main: &on-tag-main
  branches:
    ignore: /.*/
  tags:
    only: /.*/

commands:

  set-environment: 
    description: generate environment credentials and configuration from templates
    parameters:
      cluster:
        description: cluster environment
        type: string
      source-env:
        description: env to source
        type: string
    steps:
      - op/env:
          env-file: << parameters.source-env >>
      - run:
          name: set ~/.terraformrc
          command: op inject -i tpl/terraformrc.tpl -o ~/.terraformrc
      - run:
          name: set << parameters.cluster >> environment variables
          command: op inject -i environments/<< parameters.cluster >>.auto.tfvars.json.tpl -o << parameters.cluster >>.auto.tfvars.json

jobs:

  validate-vpc:
    docker:
      - image: << pipeline.parameters.executor-image >>
    parameters:
      cluster:
        description: cluster vpc configuration to validate
        type: string
      source-env:
        description: env to source
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - set-environment:
          cluster: << parameters.cluster >>
          source-env: << parameters.source-env >>
      - run:
          name: test << parameters.cluster >> configuration
          environment:
            TEST_ENV: << parameters.cluster >>
          command: bash scripts/vpc.test.sh << parameters.cluster >>

workflows:
  version: 2

  deploy sandbox-us-east-2 vpc:
    jobs:
      - terraform/plan:
          name: sandbox-us-east-2 change plan
          context: << pipeline.parameters.context >>
          shell: op run --env-file=op.nonprod.env -- /bin/bash -eo pipefail
          workspace: sandbox-us-east-2
          terraform-version: << pipeline.parameters.terraform-version >>
          before-terraform:
            - set-environment:
                cluster: sandbox-us-east-2
                source-env: op.nonprod.env
          filters: *on-push-main

      - approve sandbox-us-east-2 changes:
          type: approval
          requires:
            - sandbox-us-east-2 change plan
          filters: *on-push-main

      - terraform/apply:
          name: apply sandbox-us-east-2 changes
          context: << pipeline.parameters.context >>
          shell: op run --env-file=op.nonprod.env -- /bin/bash -eo pipefail
          workspace: sandbox-us-east-2
          terraform-version: << pipeline.parameters.terraform-version >>
          before-terraform:
            - set-environment:
                cluster: sandbox-us-east-2
                source-env: op.nonprod.env
          after-terraform:
            - do/circle-deploy
            - do/slack-webhook:
                message: lab-platform-vpc sandbox-us-east-2 deployment
                webhook-url: $LAB_EVENTS_CHANNEL_WEBHOOK
          requires:
            - approve sandbox-us-east-2 changes
          filters: *on-push-main

      - validate-vpc:
          name: test sandbox-us-east-2 vpc configuration
          context: << pipeline.parameters.context >>
          cluster: sandbox-us-east-2
          source-env: op.nonprod.env
          requires:
            - apply sandbox-us-east-2 changes
          filters: *on-push-main

  release prod-us-east-1 vpc:
    jobs:
      - terraform/plan:
          name: prod-us-east-1 change plan
          context: << pipeline.parameters.context >>
          shell: op run --env-file=op.prod.env -- /bin/bash -eo pipefail
          workspace: prod-us-east-1
          terraform-version: << pipeline.parameters.terraform-version >>
          before-terraform:
            - set-environment:
                cluster: prod-us-east-1
                source-env: op.prod.env
          filters: *on-tag-main

      - approve prod-us-east-1 changes:
          type: approval
          requires:
            - prod-us-east-1 change plan
          filters: *on-tag-main

      - terraform/apply:
          name: apply prod-us-east-1 changes
          context: << pipeline.parameters.context >>
          shell: op run --env-file=op.prod.env -- /bin/bash -eo pipefail
          workspace: prod-us-east-1
          terraform-version: << pipeline.parameters.terraform-version >>
          before-terraform:
            - set-environment:
                cluster: prod-us-east-1
                source-env: op.prod.env
          after-terraform:
            - do/circle-deploy
            - do/slack-webhook:
                message: lab-platform-vpc prod-us-east-1 release
                webhook-url: $LAB_EVENTS_CHANNEL_WEBHOOK
          requires:
            - approve prod-us-east-1 changes
          filters: *on-tag-main

      - validate-vpc:
          name: test prod-us-east-1 vpc configuration
          context: << pipeline.parameters.context >>
          source-env: op.prod.env
          cluster: prod-us-east-1
          requires:
            - apply prod-us-east-1 changes
          filters: *on-tag-main

  # generate-release-notes:
  #   jobs:
  #     - executor-tools/release:
  #         name: release-lab-platform-vpc
  #         context: << pipeline.parameters.context >>
  #         shell: op run --env-file=op.prod.env -- /bin/bash -eo pipefail
  #         filters: *on-tag-main

  nightly vpc configuration validation:
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - validate-vpc:
          name: nightly sandbox-us-east-2 vpc validation
          context: << pipeline.parameters.context >>
          source-env: op.nonprod.env
          cluster: sandbox-us-east-2
      - validate-vpc:
          name: nightly prod-us-east-1 vpc validation
          context: << pipeline.parameters.context >>
          source-env: op.prod.env
          cluster: prod-us-east-1
